/* You can add global styles to this file, and also import other style files */
body {
    height: 100vh;
    main {
        height: 100%;
    }
    .fd-c {
        display: flex;
        justify-content: center;
        // align-items: center;
        padding: 20px;
    }
}
